body {
    font-family: "Fira Code", monospace;
}
body, h1, h2, h3, div header{
    margin: 0px;
    padding: 0px;
}

button {
    border: none;
    font-family: inherit;
} 

a {
    text-decoration: none;
}