.main-form {
    margin: 50px 40px 0px 50px;
    display: block;
    padding-bottom: 50px;
}

.main-form .subtitle.-secund {
    font-family: 'Fira Code';
    font-size: 30px;
}

.main-form .text {
    font-family: 'Fira Code';
    width: 100%;
    border: 5px solid #000;
    margin-bottom: 20px;
    height: 50px;
    font-size: 30px;
}

.main-form .text.-msg {
    height: 360px;
}

.main-form .button {
    display: block;
    width: 100%;
    margin-bottom: 0px;
    margin-right: 0px;
}

.main-form .button:hover {
    transform: scale(1.01);
}