.section {
    border-top: 17px solid #3A4042;
    border-bottom: 10px solid #7C5E99;
    background-color: #FFD54E;
    justify-content: center;
}

.section.-project {
    border-top: none;
    border-bottom: 10px solid #F25A70;
    background-color: #000;
    justify-content: center;
    padding-top: 50px;
}

.section.-about {
    background-color: #7C5E99;

}

.section.-about .text {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
}

.text-format {
    padding: 50px 80px;
}

.section.-Contatos {
    background-color: #3A4042;
    border: 0px;
    border-top: 10px solid #000;
}