.section .icon{
    box-sizing: border-box;
    height: 90px;
    width: 80px;
}

.skill {
    display: flex;
    flex-direction: row;
    margin-top: 62px;
}

.skill .flat {
    margin-left: 25px;
} 

.skill .bar {
    margin-top: 21px;
    width: 320px;
    height: 30px;
    background-color: #fff;
    border: 5px solid #000;
    padding: 0px;
}

.section .column {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.section .right {
    display: flex;
    flex-direction: column-reverse;
}

.section .left {
    margin-left: 100px;
    display: flex;
    flex-direction: column-reverse;
}