.time-line {
    margin-top: 66px;
    justify-items: center;
}


.time-line .lineBL {
    background-color: #000;
    display: block;
    height: 5px;
}

.time-line .line-years {
    padding: 0px 70px;
    display: flex;
    justify-content: space-evenly;
}

.line-img {
    display: flex;
    
    justify-content: space-evenly;
}

.line-imgS {
    padding: 0px 30px;
    display: flex;
    justify-content: space-evenly;
}

.back-img {
    padding: 0px 20px;
    height: 140px;
    background-color: #CEB02A;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #000;
}

.back-img.-i2 {
    padding: 0px;
}

.back-img.-i3 {
    background-color: #F25A70;
}

.back-img.-i4 {
    padding: 0px;
}

.back-img.-i6{
    background-color: #F25A70;
}

.lineB {
    display: flex;
    justify-content: space-between;
    width: 0px;
    height: 41px;
    border: 5px dashed #000;
}